.walletCoin {
  background-color: rgb(217, 217, 217) !important;
  color: rgb(53, 53, 53);
  /* box-shadow: 0 10px 20px rgb(217, 217, 217), 0 6px 6px rgb(217, 217, 217); */
  margin-bottom: 20px;
}