h3 {
  text-align: center;
}

div.text-center.card {
  margin-top: 20px;
  width: 100%;
}

img.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}

div.text-center.card {
  background: rgb(217, 217, 217) !important;
  margin-top: 20px;
  color: rgb(53, 53, 53);
}

.mineIcon {
  margin-bottom: 15px;
}

.timerWrap {
  background: rgb(53, 53, 53);
  width: 25% !important;
  border-radius: 5px;
}

.timer {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(217, 217, 217);
}